<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="CapaDatos.Properties.Settings.OrdPesqueroConnectionString"
      connectionString="Data Source=192.168.1.97, 1433;Initial Catalog=OrdPesquero; user id=usuario; password=usuario;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>