<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrdPesquero;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrdPesquero;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrdPesquero;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrdPesquero;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString4" connectionString="Data Source=.;Initial Catalog=OrdPesquero;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.windows.forms jitDebugging="true" />
</configuration>