<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString"
            connectionString="Data Source=192.168.1.97, 1433;Initial Catalog=OrdPesquero;user id=usuario; password=usuario;"
            providerName="System.Data.SqlClient" />
        <add name="OrdenamientoPesquero.Properties.Settings.OrdPesqueroConnectionString1"
            connectionString="Data Source=&quot;192.168.1.97, 1433&quot;;Initial Catalog=OrdPesquero;Persist Security Info=True;User ID=usuario;Password=usuario"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>